.createText {
    background-color: #515151;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* ensures full viewport height */
}

.box {
    color: #f9f9f9;
}

.error {
    font-size: 60px;
    margin: 20px;
    color: red;
}

h3 {
    font-size: 40px;
    font-weight: bold;
}

p {
    font-size: 20px;
}

.createbtn {
    color: #f9f9f9;
    font-size: 20px;
    background-color: #ff4d00;
    border-radius: 10px;
    transition: 0.3s ease;
}
.createbtn:hover{
    background-color: #ff4000;
    transform: scale(1.1);
}

.headtitle {
    color: #f9f9f9;
    margin-top: 20px;
}
.capsuleCard {
    background-color: #f9f9f9;
    color: #515151;
    margin-top: 30px;
    margin: 30px 20px;
    border: 1px #131313 solid;
    border-radius: 5px;
}

.capsuleCard h3 {
    margin-top: 5px;
    font-size: 30px;
    font-weight: bold;
}

.capsuleCard .openbtn {
    border: 1px #131313 solid;
    color: #f9f9f9;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.capsuleCard #closed {
    background-color: #515151;
    cursor: not-allowed;
}

.capsuleCard #opened {
    background-color: #ff4d00;
}
.capsuleCard #opened:hover {
    background-color: #ff4000;
    transform: scale(1.1);
}

#delete {
    color: red;
    font-size: 15px;
    transition: 0.3s ease;
}
#delete:hover {
    transform: scale(1.255);
    cursor: pointer;
}


