html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #515151;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #131313;
    padding: 5px;
    text-align: center;
}

.logo {
    color: #ff4d00;
}

.logotext {
    color: #f9f9f9;
    font-size: 35px;
}

.footer {
    position: fixed;
    background-color: #131313;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    bottom: 0;
}

.link {
    color: #f9f9f9;
    font-size: 25px;
    transition: 0.3s ease;
}
.link:hover {
    color: #ff4d00;
}

#createTimeCapsule {
    backdrop-filter: blur(8px);
}

.modal-header {
    color: #f9f9f9;
    background-color: #131313;
}

.logo {
    color: #ff4d00;
}

textarea {
    resize: none;
}

.modal-footer {
    background-color: #131313;
    color: #f9f9f9;
}

.cancel {
    background-color: rgb(146, 146, 146);
    color: #f9f9f9;
    border: 1px #515151 solid;
    border-radius: 5px;
    transition: 0.3s ease;
}
.cancel:hover {
    transform: scale(1.1);
}

.create {
    background-color: #ff4d00;
    color: #f9f9f9;
    border: 1px #515151 solid;
    border-radius: 5px;
    transition: 0.3s ease;
}
.create:hover {
    transform: scale(1.1);
    background-color: #ff4000;
}
